#uno {
    width: 10vw;
    height: 10vw;
    background-color: red;
  }
  #dos {
    width: 10vw;
    height: 10vw;
    background-color:green;
  }
  #tres {
    width: 10vw;
    height: 10vw;
    background-color: red;
  }
  #cuatro {
    width: 10vw;
    height: 10vw;
    background-color:green;
  }
  #cinco {
    width: 10vw;
    height: 10vw;
    background-color: red;
  }
  #seis {
    width: 10vw;
    height: 10vw;
    background-color:green;
  }
