h1{
    font-family: Georgia;
    color: blueviolet;
}

*{margin: 0;
    padding: 0;
}
p span {

    color: aquamarine;
}
 
. {
    color: aqua;
    font-family: 'Tahoma';
}

#estilito-id{

    color: red;
    font-family: 'cursive';
}

p#aviso{
    color: rgba(77, 5, 192, 0.822);
    font-family: Verdana;}

div #aviso{
    color: chocolate;
    font-family: 'Franklin Gothic Medium';
}

div, #aviso{
    background-color: black;
    color: chocolate;
    font-family: 'Franklin Gothic Medium';
}
